.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.offer-card {
  display: flex;
  justify-content: space-evenly;
  border: solid blue;
  border-width: 2px;
  background-color: white;
  margin: 0.5rem 5rem;
}

.journey-info {
  display: grid;
  align-self: baseline;
  grid-template-columns: repeat(2, 7rem);
  grid-template-rows: auto 1fr;
}

.journey-info h3 {
  grid-column: 1 / -1;
}

img {
  margin-top: 1rem;
}
